@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Inter';
        font-weight:700;
        font-style: normal;
        src: url("../../../public/font/Inter-VariableFont_slnt\,wght.ttf") format('truetype')
    }
}